In [1]:
from sklearn import tree

In [2]:
import pandas as pd

In [3]:
data = [[0,0,0],[1,1,1]]

In [4]:
columns = ['1','2','t']

In [6]:
df = pd.DataFrame(data=data, columns=columns)
df

   1  2  t
0  0  0  0
1  1  1  1

In [8]:
X = df.iloc[:,:2]
X

   1  2
0  0  0
1  1  1

In [9]:
Y = df.iloc[:,2:]
Y

   t
0  0
1  1

In [10]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, Y)

In [14]:
clf.predict([[1,1]])

C:\Users\Maxim\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [2]:
import codecs

In [6]:
l = [b'qwe', b'wrr']
l1 = list(map(codecs.decode, l))
l1

['qwe', 'wrr']

In [7]:
codecs.decode(b'qwe')

'qwe'

In [8]:
import numpy as np
l = np.array([b'qwe', b'wrr'])
l1 = list(map(codecs.decode, l))
l1

['qwe', 'wrr']